<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rebite.ro.rebiteapp">

    <application
            android:theme="@style/AppTheme"
            android:name=".dagger.VolunteerApplication">
        <activity android:name=".OfferCreatorActivity" />
        <activity android:name=".VolunteerProfileActivity"/>
    </application>

</manifest>