<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rebite.ro.rebiteapp">

    <application
        android:name=".dagger.VolunteerApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MapLocationSelectorActivity"></activity>
        <activity android:name=".OfferCreatorActivity" />
        <activity android:name=".VolunteerProfileActivity" />
        <service android:name=".services.FetchAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>