<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rebite.ro.rebiteapp">

    <application
        android:name=".dagger.VolunteerApplication"
        android:theme="@style/AppTheme">
        <service
            android:name=".notifications.OffersNotificationsService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <activity android:name=".MultipleOffersRouteMapActivity" />
        <activity android:name=".OfferDetailsActivity" />
        <activity android:name=".MapLocationSelectorActivity" />
        <activity android:name=".OfferCreatorActivity" />
        <activity android:name=".VolunteerProfileActivity" />
        <activity android:name=".CurrentlyInProgressOffersActivity"/>
        <activity android:name=".RestaurantProfileCreatorActivity" />

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>